
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">

    <title>Responsive Navigation Menu - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../dist/css/dashboard.css" rel="stylesheet">
    <script src="../dist/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript" src="../dist/js/canvasjs.min.js"></script></head>


    <link rel="stylesheet" href="../dist/css/leftnavimenu.css" media="screen" title="no title" charset="utf-8">

    <script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />');
            else $('head > link').filter(':first').replaceWith(defaultCSS);
        }
        $( document ).ready(function() {
          var iframe_height = parseInt($('html').height());
          // window.parent.postMessage( iframe_height, 'http://bootsnipp.com');
        });
        // console.log('<%-JSON.stringify(data)%>')
    </script>
</head>
<body>


<div class="nav-side-menu">
    <a href="/" class="brand"><div class="brand">Roast Meister Admin</div></a>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
              <%
                var photourl = null;
                console.log(user.facebook.photourl)
                if (user.facebook && user.facebook.photourl) {
                  photourl = user.facebook.photourl
                } else if (user.twitter && user.twitter.photourl) {
                  photourl = user.twitter.photourl
                } else if (user.google && user.google.photourl) {
                  photourl = user.google.photourl
                }
              %>
              <a href="/profile"><li><del style="opacity: 0.5;">내 프로필</del>
                <% if (photourl) { %>
                <div style="float: right; text-align: center;"><div class="center-cropped img-circle" style="background-image: url(<%= photourl %>); width: 38px; height: 38px; margin: 6px 6px; vertical-align: middle;"></div></div>
                <% } else if (user.local && user.local.email == "admin") { %>
                <span style="float: right; text-align: center; font-size: 13px; margin-right: 10px;"><b>Admin</b></span>
                <% } %>
              </li></a>
              <a><li class="active collapsed active" data-toggle="collapse" data-target="#userside">
                자동완성<span class="arrow"></span>
              </li></a>
              <ul class="sub-menu collapse in" id="userside">
                  <a href="/autocomplete/countrys"><li id="nation_li">국가명</li></a>
                  <a href="/autocomplete/provinces-districts"><li id="farm_li">농장-지역명</li></a>
                  <a href="/autocomplete/varieties"><li id="beankind_li">품종명</li></a>
                  <a href="/autocomplete/processtypes"><li id="drykind_li">가공 방식</li></a>
                  <a href="/autocomplete/machines"><li id="machine_li">로스팅 머신</li></a>
                  <a href="/autocomplete/fauls"><li id="faul_li">연료</li></a>
              </ul>
              <a href="#"><li data-toggle="collapse" data-target="#service" class="collapsed">
                로스팅 자료<span class="arrow"></span>
              </li></a>
              <ul class="sub-menu collapse" id="service">
                <a href="/roasting/sampledata1"><li>Sample Data 1</li></a>
                <li><del style="opacity: 0.5;">Sample Data 2</del></li>
                <li><del style="opacity: 0.5;">Sample Data 3</del></li>
              </ul>

              <% if (user.canGroup("Monitor")) { %>
              <a href="/users"><li>사용자</li></a>
              <% } %>
              <a href="/logout"><li>로그아웃</li></a>

            </ul>
     </div>
</div>




<div class="main-body main">



  <span><h1 id="headtitle" class="page-header">자동완성</h1><span style="float: right;"><button type="button" class="btn btn-default btn-sm" style="font-size: 14px;" onclick="downloadWithCSV();">csv 파일 다운로드</button></span></span>

  <div class="row placeholders">
    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 placeholder">
      <div id="chartContainer" style="height: 260px; width: 100%; margin-bottom: 5px;" ></div>
      <span class="text-muted">아래 테이블의 데이터를 기반으로 만든 차트입니다.</span>
    </div>
  </div>

  <div id="alertdiv"></div>

  <h3>Enable</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <% if (user.canGroup("Monitor")) { %>
          <th><input type="checkbox"></th>
          <% } else { %>
          <th>#</th>
          <% } %>
          <th><a onclick="reloadDataWithSortField('name');">Name <i id="name_arrow" class="fa fa-caret-down"></i></a></th>
          <th><a onclick="reloadDataWithSortField('count');">Count <i id="count_arrow" class="fa fa-caret-up"></i></a></th>
          <th><a onclick="reloadDataWithSortField('created_at');">Created Date <i id="created_at_arrow" class="fa fa-caret-down"></i></a></th>
          <th><a onclick="reloadDataWithSortField('updated_at');">Updated Date <i id="updated_at_arrow" class="fa fa-caret-down"></i></a></th>
          <th><a onclick="reloadDataWithSortField('enable');">Enable <i id="updated_at_arrow" class="fa fa-caret-down"></i></a></th>
        </tr>
      </thead>
      <tbody id="enable_tablebody"></tbody>
    </table>
  </div>
  <h3>Disable</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <% if (user.canGroup("Monitor")) { %>
          <th><input type="checkbox"></th>
          <% } else { %>
          <th>#</th>
          <% } %>
          <th><a onclick="reloadDataWithSortField('name');">Name <i id="name_arrow" class="fa fa-caret-down"></i></a></th>
          <th><a onclick="reloadDataWithSortField('count');">Count <i id="count_arrow" class="fa fa-caret-up"></i></a></th>
          <th><a onclick="reloadDataWithSortField('created_at');">Created Date <i id="created_at_arrow" class="fa fa-caret-down"></i></a></th>
          <th><a onclick="reloadDataWithSortField('updated_at');">Updated Date <i id="updated_at_arrow" class="fa fa-caret-down"></i></a></th>
          <th><a onclick="reloadDataWithSortField('enable');">Enable <i id="updated_at_arrow" class="fa fa-caret-down"></i></a></th>
        </tr>
      </thead>
      <tbody id="disable_tablebody"></tbody>
    </table>
  </div>


  <% if (user.canGroup("Monitor")) { %>
    <div class="row" style="margin-top: 34px;">
      <div class="col-md-offset-2 col-md-8 col-sm-offset-0 col-sm-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title" id="header_adddata">데이터 추가</h4><small>(모니터급 이상의 사용자만 추가가 가능합니다.)</small>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="form-group">
                    <label for="inputlastname" class="col-md-4 control-label">
                     Name</label>
                    <div class="col-md-8">
                       <input type="text" class="form-control" id="inputname" placeholder="Name을 입력해주세요..." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputscreenname" class="col-md-4 control-label">
                      Count</label>
                    <div class="col-md-8">
                         <input type="number" class="form-control" id="inputcount" placeholder="Count 숫자를 입력해주세요..." />
                    </div>
                </div>
              </div>
              <div class="row" id="add_result_div">
              </div>
            </div>
            <div class="panel-footer" style="text-align: right;">
              <button type="button" class="btn btn-primary" onclick="clickAdd();">Add</button>
            </div>
         </div>
      </div>
    </div>
  <% } %>
</div>



<script type="text/javascript">
  var data = <%-JSON.stringify(data)%>
  var disabledata = []

  for (var i=0; i<data.length; i++) {
    if (data[i].enable === false) {
      disabledata.push(data[i])
      data.splice(i, 1);
      i--;
      continue;
    }
  }

  var latestSort = {};

  var order = 1
  function sortDataWtihField(sortby) {
    order = 1
    if (latestSort && latestSort[sortby] != null && latestSort[sortby]==1) {order = -1}
    latestSort = {}
    latestSort[sortby] = order

    if (data[0] && data[0][sortby]) {
      data.sort(function (a, b) {
        if (a[sortby] > b[sortby]) {return (-1)*order;}
        else if (a[sortby] < b[sortby]) {return (1)*order;}
        else {return 0;}
      })
      disabledata.sort(function (a, b) {
        if (a[sortby] > b[sortby]) {return (-1)*order;}
        else if (a[sortby] < b[sortby]) {return (1)*order;}
        else {return 0;}
      })
    }
  }

  function reloadDataWithSortField(sortby) {

    reloadData(data, "#enable_tablebody")
    reloadData(disabledata, "#disable_tablebody")

    $("#name_arrow").attr('class','fa fa-caret-down');
    $("#count_arrow").attr('class','fa fa-caret-down');
    $("#created_at_arrow").attr('class','fa fa-caret-down');
    $("#updated_at_arrow").attr('class','fa fa-caret-down');
    $("#enable_arrow").attr('class','fa fa-caret-down');
    $("#name_arrow").css('opacity', '0.5');
    $("#count_arrow").css('opacity', '0.5');
    $("#created_at_arrow").css('opacity', '0.5');
    $("#updated_at_arrow").css('opacity', '0.5');
    $("#enable_arrow").css('opacity', '0.5');
    if (order==1) {
    } else {
      $("#" + sortby + "_arrow").attr('class','fa fa-caret-up');
    }
    $("#" + sortby + "_arrow").css('opacity', '1');
  }
  function reloadData (data, tablebody_id) {
    var html = ""
    for (var i=0; i<data.length; i++) {
      html += '<tr>'
      <% if (user.canGroup("Monitor")) { %>
      html += '<td>' + '<input type="checkbox"/>'  + '</td>'
      <% } else { %>
      html += '<td>' + String(i+1)  + '</td>'
      <% } %>
      html += '<td>' + data[i]["name"] + '</td>'
      html += '<td>' + data[i]["count"] + '</td>'
      html += '<td>' + (new Date(data[i]["created_at"]).format("yyyy-MM-dd HH:mm:ss")) + '</td>'
      html += '<td>' + (new Date(data[i]["updated_at"]).format("yyyy-MM-dd HH:mm:ss")) + '</td>'

      <% if (user.canGroup("Monitor")) { %>
      if (data[i]["enable"] === true || data[i]["enable"] === undefined || data[i]["enable"] === null) {
        html += '<td>' + '<input type="checkbox" checked onchange="clickEnableCheckbox(\''+data[i]["_id"]+'\', this.checked)"/>' + '</td>'
      } else {
        html += '<td>' + '<input type="checkbox" onchange="clickEnableCheckbox(\''+data[i]["_id"]+'\', this.checked)"/>' + '</td>'
      }
      <% } else { %>
      if (data[i]["enable"] === true || data[i]["enable"] === undefined || data[i]["enable"] === null) {
        html += '<td>' + '<input type="checkbox" checked disabled/>' + '</td>'
      } else {
        html += '<td>' + '<input type="checkbox" disabled/>' + '</td>'
      }
      <% } %>
      html += '</tr>'
    }
    $(tablebody_id).html(html)
  }

  function reloadChartData(data) {
    var dataPoints = []
    var dataPointCount = 7
    var othersCount = 0
    for (var i=0; i<data.length; i++) {
      if (data[i]["count"]) {
        if (i < dataPointCount) {
          dataPoints.push({
            y: data[i]["count"],
            indexLabel: data[i]["name"]
          })
        } else {
          othersCount += data[i]["count"]
        }
      }
    }
    if (othersCount>0) {
      dataPoints.push({
        y: othersCount,
        indexLabel: "others"
      })
    }
    var chart = new CanvasJS.Chart("chartContainer", {
      theme: "theme2",
      data: [{
        type: "pie",
        showInLegend: true,
        toolTipContent: "{y} - #percent %",
        legendText: "{indexLabel}",
        dataPoints: dataPoints
      }]
    });
    chart.render();
  }

  var kotitle = ""
  $( document ).ready(function() {

    // 왼쪽 메뉴 활성
    var title = "<%= title %>";
    $("#" + title + "_li").attr("class", "active collapsed active")

    // 헤더 타이틀
    kotitle = $("#" + title + "_li").text()
    $("#headtitle").text("자동완성 - " + kotitle)

    <% if (user.canGroup("Monitor")) { %>
      $("#header_adddata").html(kotitle + " - 수동으로 추가")
    <% } %>



    // data를 정렬
    sortDataWtihField("count")

    // 화면에 뿌림
    reloadDataWithSortField("count")

    // data를 기반으로 상단의 차트 표시
    reloadChartData(data)

  });

  function downloadWithCSV() {
    var csvContent = "data:text/csv;charset=utf-8,";
    csvContent += "autocomplete,<%= usertitle %>\n"
    csvContent += "\n\n"
    csvContent += "Name,Count,Created_at,Updated_at\n"
    data.forEach(function(onedata, index){
      var created_at = (new Date(onedata["created_at"])).format("yyyy-MM-dd HH:mm:ss")
      var updated_at = (new Date(onedata["updated_at"])).format("yyyy-MM-dd HH:mm:ss")
      dataString = onedata["name"] + "," + onedata["count"] + "," + created_at + "," + updated_at
      csvContent += index < data.length ? dataString+ "\n" : dataString;
    });

    var nowdatestring = (new Date()).format("yyyyMMddHHmmss")

    var encodedUri = encodeURI(csvContent);
    var link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "autocomplete_<%= usertitle %>_"+nowdatestring+".csv");

    link.click(); // This will download the data file named "my_data.csv".
  }

  <% if (user.canGroup("Monitor")) { %>
  function clickEnableCheckbox(_id, checked) {
    var param = {
      enable: checked
    }
    $.ajax({
        url: '/autocomplete/<%=usertitle%>/'+_id,
        type: 'PUT',
        data: param,
        success: function(result) {
            // Do something with the result
            var html = ""
            if (result.err) {
              html += '<div class="alert alert-danger alert-dismissible fade in" role="alert">'
              html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'
              html += '<strong>Failed!</strong> UPDATE :: id:' + _id + ', enable:' + checked
              html += '</div>'

            } else {
              html += '<div class="alert alert-success alert-dismissible fade in" role="alert">'
              html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'
              html += '<strong>Success!</strong> UPDATE :: id:' + _id + ', enable:' + checked
              html += '</div>'

            }
            $("#alertdiv").html(html)

        },
        error:function(request,status,error){
            console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
    });

  }


  function clickAdd() {
    if (parseInt($("#inputcount").val()) > 1000) {
      alert("1000개 이상의 값은 입력할 수 없습니다...")
      $("#inputcount").val("1000")
      return;
    }
    var param = {
      name: $("#inputname").val(),
      count: $("#inputcount").val(),
    }
    $.ajax({
        url: '/autocomplete/<%=usertitle%>',
        type: 'POST',
        data: param,
        success: function(result) {
            // Do something with the result
            console.log(JSON.stringify(result))
            var err_msg = result.err
            if (result.err_code != 200) err_msg = result.error

            var alert_type = "alert-success"
            var alert_title = "Success!"
            if (err_msg) {
              alert_type = "alert-danger"
              alert_title = "Failed!"
            } else {
              alert_type = "alert-success"
            }

            var html = ""
            html += '<div class="alert '+ alert_type +' alert-dismissible" role="alert" style="margin: 15px; margin-top: 15px; margin-bottom: 0px;">'
            html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            html += '<span aria-hidden="true">&times;</span>'
            html += '</button>'
            html += '<strong>'+alert_title+'</strong> '
            if (err_msg) html += err_msg

            if (result.data) {
              html += '<pre style="margin-top: 10px; margin-bottom: 0px; background-color: rgba(230, 230, 230, 0.2);">'
              html += JSON.stringify(result.data, undefined, 2);
              html += '</pre>'
            }
            html += '</div>'
            $("#add_result_div").html(html)

            if (!err_msg && result.err_code==200 && result.data) {
              $("#inputname").val("");
              $("#inputcount").val("");

              data.push(result.data)


              // data를 정렬
              latestSort = {};
              sortDataWtihField("count")

              // data를 정렬 및 화면에 뿌림
              reloadDataWithSortField("count")

              // data를 기반으로 상단의 차트 표시
              reloadChartData(data)
            }
        },
        error:function(request,status,error){
            console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
    });
  }

  <% } %>




  Date.prototype.format = function(f) {
      if (!this.valueOf()) return " ";

      var weekName = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
      var d = this;

      return f.replace(/(yyyy|yy|MM|dd|E|hh|mm|ss|a\/p)/gi, function($1) {
          switch ($1) {
              case "yyyy": return d.getFullYear();
              case "yy": return (d.getFullYear() % 1000).zf(2);
              case "MM": return (d.getMonth() + 1).zf(2);
              case "dd": return d.getDate().zf(2);
              case "E": return weekName[d.getDay()];
              case "HH": return d.getHours().zf(2);
              case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2);
              case "mm": return d.getMinutes().zf(2);
              case "ss": return d.getSeconds().zf(2);
              case "a/p": return d.getHours() < 12 ? "오전" : "오후";
              default: return $1;
          }
      });
  };

  String.prototype.string = function(len){var s = '', i = 0; while (i++ < len) { s += this; } return s;};
  String.prototype.zf = function(len){return "0".string(len - this.length) + this;};
  Number.prototype.zf = function(len){return this.toString().zf(len);};

  </script>
</body>
<script src="../dist/js/bootstrap.min.js"></script>
<script src="../dist/js/vendor/holder.min.js"></script>
<script src="../dist/js/ie10-viewport-bug-workaround.js"></script>
</html>
